/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* Default styles for larger screens */
/* .some-element {
    font-size: 16px;
  } */
  
  /* Apply different styles for phones and tablets */
  /* @media (max-width: 768px) {
    .some-element {
      font-size: 14px;
    }
  } */