<main id="create">


    <!-- <div>
        <div class="errorContainer">
            <p>App don`t work</p>
        </div>
    </div> -->

    <section id="create-container">
        <div class="create-container-info">
            <h1>Add new workout</h1>
            <form [formGroup]="createForm" (ngSubmit)="createWorkout">

                <label>Difficulty level:</label>
                <select formControlName="difficultyLevel" id="difficultyLevel" name="difficultyLevel">
                    <option value="">-------</option>
                    <option value="Beginner">Beginner</option>
                    <option value="Average">Average</option>
                    <option value="Advanced">Advanced</option>
                </select>
                <ng-container
                    *ngIf="createForm.controls['difficultyLevel'].touched && createForm.controls['difficultyLevel'].invalid">
                    <p class="error" *ngIf="createForm.controls['difficultyLevel'].errors?.['required']">
                        Difficulty level is required!
                    </p>
                </ng-container>

                <label>Type of training:</label>
                <input formControlName="typeTraining" type="text" id="typeTraining" name="typeTraining">
                <ng-container
                    *ngIf="createForm.controls['typeTraining'].touched && createForm.controls['typeTraining'].invalid">
                    <p class="error" *ngIf="createForm.controls['typeTraining'].errors?.['required']">
                        Type of training is required!
                    </p>
                </ng-container>

                <label>Image:</label>
                <input formControlName="image" type="text" id="image" name="image" placeholder="http://...">
                <ng-container *ngIf="createForm.controls['image'].touched && createForm.controls['image'].invalid">
                    <p class="error" *ngIf="createForm.controls['image'].errors?.['required']">
                        Image is required!
                    </p>
                    <p class="error" *ngIf="createForm.controls['image'].errors?.['pattern']">
                        The photo image is required and should start with http:// or https://!
                    </p>
                </ng-container>

                <label>Training Duration</label>
                <select formControlName="trainingDuration" id="trainingDuration" name="trainingDuration">
                    <option value="5">5 min</option>
                    <option value="10">10 min</option>
                    <option value="15">15 min</option>
                    <option value="20">20 min</option>
                    <option value="25">25 min</option>
                    <option value="30">30 min</option>
                    <option value="35">35 min</option>
                    <option value="40">40 min</option>
                    <option value="45">45 min</option>
                    <option value="50">50 min</option>
                    <option value="55">55 min</option>
                    <option value="60">60 min</option>
                </select>
                <ng-container
                    *ngIf="createForm.controls['trainingDuration'].touched && createForm.controls['trainingDuration'].invalid">
                    <p class="error" *ngIf="createForm.controls['trainingDuration'].errors?.['required']">
                        Training Duration is required!
                    </p>
                </ng-container>

                <!-- <label>Training duration:</label>
                <input formControlName="trainingDuration" type="text" id="trainingDuration" name="trainingDuration" value=""> -->

                <label>Exercises:</label>
                <textarea formControlName="exercises" id="exercises" name="exercises"></textarea>
                <ng-container
                    *ngIf="createForm.controls['exercises'].touched && createForm.controls['exercises'].invalid">
                    <p class="error" *ngIf="createForm.controls['exercises'].errors?.['required']">
                        Exercises is required!
                    </p>
                </ng-container>

                <input (click)="createWorkout()" [disabled]="!createForm.valid" [style]="{backgroundColor: createForm.invalid ? 'grey' : 'darkred'}" type="submit" id="btn" value="Create">
                <!-- ><button (click)="createWorkout()" [disabled]="!createForm.valid" [style]="{backgroundColor: createForm.invalid ? 'grey' : 'darkred'}" type="submit" id="btn">Create</button> -->
            </form>
        </div>
    </section>
</main>
